
BoostAsioFileTrans.opensdf
BoostAsioFileTrans.sdf
client/Debug/client.log
client/Debug/client.obj
client/Debug/client.pch
client/Debug/client.tlog/cl.command.1.tlog
client/Debug/client.tlog/CL.read.1.tlog
client/Debug/client.tlog/CL.write.1.tlog
client/Debug/client.tlog/client.lastbuildstate
client/Debug/client.tlog/link.command.1.tlog
client/Debug/client.tlog/link.read.1.tlog
client/Debug/client.tlog/link.write.1.tlog
client/Debug/stdafx.obj
client/Debug/vc120.idb
client/Debug/vc120.pdb
Debug/client.exe
Debug/client.ilk
Debug/client.pdb
ipch/client-16642b6b/client-c767fd4b.ipch
